<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.Payments') %></h2>
  <p class="small text-muted mb-0"><strong><%= t('dashboard.Payments') %></strong></p>
<% end %>

<%= content_tag(:div, '', id: 'admins-payments-container', data: {
  controller: 'admins_payments'
}) %>

