  <section id="footer" class="bg-light">
    <div class="text-center border-top mx-4">
      <%= link_to home_path, class: "btn btn-link col-6 col-sm-3 col-md-2 px-4 py-2" do %>
        <%= image_tag 'logo_dark.png', class: 'img-fluid logo' %>
      <% end %>
    </div>
  </section>