<div id="mobile-sidebar" class="offcanvas offcanvas-start d-md-none" tabindex="-1" aria-labelledby="sidebar">
  <%= render "layouts/shared/sidebar" %>
</div>

<div id="sidebar" class="d-none d-md-inline-block">
  <%= render "layouts/shared/sidebar" %>
</div>