<aside id="sidebar">
  <div class="h-100">
    <div class="p-4">
      <%= link_to home_path do %>
        <%= image_tag 'logo_light.png', class: 'mw-100' %>
      <% end %>
    </div>

    <ul class="sidebar-nav p-0">
      <li>
        <a href="/" class="sidebar-link text-light px-4 py-2 collapsed" data-bs-toggle="collapse" data-bs-target="#pages" aria-expanded="false" aria-controls="pages">
          <i class="bi bi-person-fill pe-2 pe-2"></i>
          Users
        </a>

        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li>
            <a href="/" class="sidebar-link text-light px-4 py-2">Admins</a>
          </li>
          <li>
            <a href="/" class="sidebar-link text-light px-4 py-2">Candidates</a>
          </li>
          <li>
            <a href="/" class="sidebar-link text-light px-4 py-2">Recruiters</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/" class="sidebar-link text-light px-4 py-2">
          <i class="bi bi-wallet2 pe-2"></i>
          Payments
        </a>
      </li>

      <li>
        <a href="/" class="sidebar-link text-light px-4 py-2 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
          <i class="bi bi-graph-up-arrow pe-2"></i>
          Reports
        </a>

        <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li>
            <a href="/" class="sidebar-link text-light px-4 py-2">Users</a>
          </li>
          <li>
            <a href="/" class="sidebar-link text-light px-4 py-2">Payments</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/" class="sidebar-link text-light px-4 py-2">
          <i class="bi bi-gear-fill pe-2"></i>
          Settings
        </a>
      </li>
    </ul>
  </div>
</aside>