  <div class="right-section bg-primary col-6 offset-1 d-none d-sm-flex justify-content-center align-items-center text-center text-light py-5">
    <div>
      <h1 class="mb-0 mx-3">Especialistas en Seguros</h1>
      <p class="mb-2 fst-italic mx-3">Lideres en Servicios desde 1987</p>
      <%= image_tag 'sign_in.png', class: 'sign-in-image p-5' %><br>
    </div>
  </div>
</div>