  <div class="right-section bg-primary col-6 offset-1 d-none d-sm-flex justify-content-center align-items-center text-center text-light py-5">
    <div>
      <h1 class="mb-0 mx-3"><%= t('devise.right_section.title') %></h1>
      <p class="mb-2 fst-italic mx-3"><%= t('devise.right_section.subtitle') %></p>
      <%= image_tag 'others/sign_in.svg', class: 'sign-in-image mt-3 px-3 px-md-0' %><br>
    </div>
  </div>
</div>