<% content_for :top_section do %>
  <h2 class="mb-1">Dashboard</h2>
  <p class="small text-muted mb-0"><strong>Dashboard</strong></p>
<% end %>

<p class="mb-0">Welcome to the the Candidate's dashboard!</p>
