<li>
  <a href="/" class="sidebar-link text-light px-4 py-2 collapsed" data-bs-toggle="collapse" data-bs-target="#users-dropdown" aria-expanded="false" aria-controls="users-dropdown">
    <i class="bi bi-credit-card pe-2 pe-2"></i>
    Payments
  </a>

  <ul id="users-dropdown" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
    <li>
      <a href="/candidates/payments" class="sidebar-link text-light px-4 py-2">Make a Payment</a>
    </li>
  </ul>
</li>

<li>
  <a href="/candidates/edit" class="sidebar-link text-light px-4 py-2">
    <i class="bi bi-gear-fill pe-2"></i>
    Settings
  </a>
</li>

<li>
  <%= button_to destroy_candidate_session_path, class: "sidebar-link text-light px-4 py-2 bg-transparent border-0", method: :delete do %>
    <i class="bi bi-box-arrow-right pe-2"></i>
    Sign Out
  <% end %>
</li>
