<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.admins') %></h2>
  <p class="small text-muted mb-0"><%= t('dashboard.users') %> / <strong><%= t('dashboard.admins') %></strong></p>
<% end %>

<%= content_tag(:div, '', id: 'admins-admins-container', data: {
  controller: 'admins_admins'
}) %>
