.authentication-page {
  .type-selector {
    &:not(.selected) {
      background-color: $light;

      &:hover {
        background-color: transparent;
        border-color: transparent !important;
        color: $light !important;
      }
    }
  }

  .sign-in-image {
    max-width: 100%;

    @media (min-width: 700px) {
      max-width: 80%;
    }
  }
}
