.authentication-page {
  .right-section {
    background: linear-gradient(172.78deg, $primary-dark 9.92%, $primary 87.35%);
  }

  .btn-submit {
    background: linear-gradient(172.78deg, $primary 9.92%, $primary-dark 87.35%);
  }

  .type {
    background: linear-gradient(172.78deg, $primary 9.92%, $primary-dark 87.35%);
  }

  .type-selector {
    &:not(.selected) {
      background-color: $light;

      &:hover {
        background-color: transparent;
        border-color: transparent !important;
        color: $light !important;
      }
    }
  }

  .sign-in-image {
    max-width: 100%;

    @media (min-width: 700px) {
      max-width: 80%;
    }
  }
}
