.smoothly-show-page {
  opacity: 0;

  &.non-hidden {
    transition: opacity 700ms linear;
    opacity: 1;
  }
}

#loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transition: opacity 700ms linear;

  &.hidden {
    opacity: 0;
    z-index: -9999;
  }

  .sk-cube-grid {
    width: 40px;
    height: 40px;
  }

  .sk-cube-grid .sk-cube {
    width: 33.333%;
    height: 33.333%;
    background-color: $primary;
    float: left;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  .sk-cube-grid .sk-cube1 {
    animation-delay: 0.2s;
  }

  .sk-cube-grid .sk-cube2 {
    animation-delay: 0.3s;
  }

  .sk-cube-grid .sk-cube3 {
    animation-delay: 0.4s;
  }

  .sk-cube-grid .sk-cube4 {
    animation-delay: 0.1s;
  }

  .sk-cube-grid .sk-cube5 {
    animation-delay: 0.2s;
  }

  .sk-cube-grid .sk-cube6 {
    animation-delay: 0.3s;
  }

  .sk-cube-grid .sk-cube7 {
    animation-delay: 0s;
  }

  .sk-cube-grid .sk-cube8 {
    animation-delay: 0.1s;
  }

  .sk-cube-grid .sk-cube9 {
    animation-delay: 0.2s;
  }

  @keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
      transform: scale3D(1, 1, 1);
    }
    35% {
      transform: scale3D(0, 0, 1);
    }
  }
}