#signed-out-navbar {
  transition: box-shadow 600ms linear;

  &.light-bg {
    background-color: $light;

    @media (max-width: 767px) {
      transition: background-color 400ms linear;
    }
  }

  &.colored-bg {
    background-color: $primary;
  }

  img.logo {
    max-height: 50px;
  }

  .nav-link {
    transition: transform .2s;

    &:hover {
      color: black !important;
      transform: scale(1.03);
    }
  }
}

#servicios {
  .card {
    height: 300px !important;
    border-bottom-right-radius: 3em !important;
    border-top-left-radius: 3em !important;

    @media (min-width: 385px) {
      height: 280px !important;
    }

    @media (min-width: 454px) {
      height: 260px !important;
    }

    @media (min-width: 550px) {
      height: 240px !important;
    }

    @media (min-width: 576px) {
      height: 340px !important;
    }

    @media (min-width: 650px) {
      height: 320px !important;
    }

    @media (min-width: 752px) {
      height: 300px !important;
    }

    @media (min-width: 934px) {
      height: 280px !important;
    }

    @media (min-width: 1400px) {
      height: 260px !important;
    }
  }
}

#contact-form {
  &.contact-form-dark {
    .form-control:focus, .form-select:focus {
      border-color: $primary-light;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(0, 186, 124, 0.25);
    }
  }

  &.contact-form-light {
    .form-control:focus, .form-select:focus {
      border-color: $primary-light;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(13, 169, 221, 0.616);
    }
  }

  button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

  .privacy-policy-link {
    text-decoration: none;

    &:hover {
      &.privacy-policy-link-light {
        text-decoration: underline $light;
      }

      &.privacy-policy-link-dark {
        text-decoration: underline $dark;
      }
    }
  }

  .Toastify__toast {
    background-color: $light;
  }

  .Toastify__toast-icon {
    svg {
      fill: $primary !important;
    }
  }

  .Toastify__progress-bar {
    background: $primary !important;
  }
}

#footer {
  .mobile-link, .address-link, .email-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline $light;
    }
  }
}

#mision {
  .accordion-button::after {
    background-image: initial;
  };

  .accordion-button:not(.collapsed)::after {
    background-image: initial;
  };

  button:hover, button:focus{
    text-decoration: none !important;
    outline: none !important;
  };

  .panel-group .panel{
    background-color: $light;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    margin-bottom: 11px;
  };

  .panel .panel-heading{
    padding: 0;
    border-radius: 10px;
    border: none;
  };

  .panel-heading button{
    display: block;
    border: none;
    padding: 20px 35px 20px;
    font-size: 20px;
    background-color: $light;
    font-weight: 600;
    position: relative;
    color: $light;
    box-shadow: none;
    transition: all 0.1s ease 0;
  };

  .panel-heading button:after, .panel-heading button.collapsed:after{
    content: "\f068";
    font-family: fontawesome;
    text-align: center;
    position: absolute;
    left: -20px;
    top: 10px;
    color: $primary !important;
    background-color: $light;
    border: 5px solid $light;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
  };

  .panel-heading:hover button:after,
  .panel-heading:hover button.collapsed:after{
    transform: rotate(360deg);
  };

  .panel-heading button.collapsed:after{
    content: "\f067";
  };

  #accordion .panel-body{
    background-color: $light;
    color: $gray-400;
    line-height: 25px;
    padding: 10px 25px 20px 35px ;
    border-top: none;
    font-size: 14px;
    position: relative;
  };

  .text-white{
    color: $light;
    text-transform: uppercase;
  };

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid $light;
    top: 50%;
    animation: loader 2s infinite ease;
  };

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $light;
    animation: loader-inner 2s infinite ease-in;
  };

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  };

  @keyframes loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  };
}
