<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.payments') %></h2>
  <p class="small text-muted mb-0"><%= t('dashboard.payments') %> / <strong><%= t('dashboard.make_a_payment') %></strong></p>
<% end %>

<%= content_tag(:div, "", id: "candidates-payments-container", data: {
  controller: "candidates_payments"
}) %>
