<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.dashboard') %></h2>
  <p class="small text-muted mb-0"><strong><%= t('dashboard.dashboard') %></strong></p>
<% end %>

<p class="mb-0"><%= t('.welcome', role: current_user.super_admin? ? 'Super Admin' : 'Admin') %></p>
