<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body>
    <%= render "shared/flash" %>

    <% if defined? resource %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>

    <%= yield %>
  </body>
</html>
